//Fontes
$default-font: Verdana, Geneva, sans-serif;
$header-font:  'Voltaire', sans-serif;

//Cores
$beige-color: #eacda3;
$purple-light: #b3b3cc;
$lilac-color: #d4cfe2;

//First bg (purple gradient) $bg-color: linear-gradient(to right, #2b5876 0%, #4e4376 100%);
//$bg-color: linear-gradient(to right, #16222a, #3a6073);

