@import '_variables.scss';

.header{
    background-color: hsla(210, 29%, 24%, 0.4);
    width: auto;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-family: $header-font;
      color: #e6e6e6;
      margin-left: 5rem;
    }
      h1:hover{
      cursor: default;
    }

    a {
    font-family: $header-font;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    color: white;
  }
    a:hover{
    text-decoration: underline;
    text-shadow: 2px 3px 7px $purple-light;
    margin-top: -0.7rem;
  }
}
