@import '_variables.scss';

.header{
    background-color: hsla(210, 29%, 24%, 0.3);
    width: auto;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-family: $header-font;
      color: #e6e6e6;
      font-variant: small-caps;
    }
      h1:hover{
      cursor: default;
    }

    a {
    font-family: $header-font;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
  }
    a:hover {
    text-decoration: underline;
    margin-top: -0.7rem;
  }
}
