@import '_variables.scss';

.header{
    background-color: hsla(210, 29%, 24%, 0.4);
    width: auto;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
    font-family: $poiret-font;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    color: white;

    text-shadow: 3px 3px 5px #006699;
  }
    a:hover{
    text-decoration: underline;
    text-shadow: 2px 3px 7px $golden-light;
    margin-top: -1rem;
  }
    h1{
    font-family: $poiret-font;
    font-weight: bold;
    font-size: 3rem;
    color: #bfd9fe;
    text-shadow: 4px 4px 0px #243949;
    margin-left: 5rem;
  }
    h1:hover{
    cursor: default;
  }
}
