@import '_variables.scss';

@media screen and (max-width: 900px) {
  .header {
    width: auto;
    height: auto;
    flex-direction: column;
    a {
    font-size: 1.6rem;
    line-height: 2.5rem;
    }
    h1 {
    text-align: center;
    }
  }

  #logo-walleg {
    width: 15rem;
    height: 5rem;
  }

  .side-nav{
    position: relative;
    width: 100%;
    height: 20rem;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .side-nav-info img{
    visibility: hidden;
  }

  .main-content{
    img {
    max-width: 18rem;
    max-height: 30rem;
    padding: 0;
  }
//Reajuste de ícones para mobile
  #icone-clientes{
    @include alinhamento(0);
  }
  #icone-fornecedores{
    @include alinhamento(0);
  }
  #icone-produtos{
    @include alinhamento(0);
  }
  #icone-caixa{
    @include alinhamento(0);
  }
  #icone-compras{
    @include alinhamento(0);
  }
  #icone-orçamentos{
    @include alinhamento(0);
  }
  #icone-nfs{
    @include alinhamento(0);
  }
  #icone-nfe{
    @include alinhamento(0);
  }
//fim

  p{
    font-size: 0.8rem;
    margin-left: 1rem;
  }
  li, ul, ol {
    font-size: 0.9rem;
    margin-left: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

  .up-arrow {
    visibility: visible;
  }
}

@media screen and (min-width:901px) and (max-width: 1400px)  {
  .main-content p {
    font-size: 1.2rem;
    margin-left: 18rem;
  }
  .main-content li {
    font-size: 1.2rem;
  }
  .main-content h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .main-content img{
    max-width: 25rem;
    max-height: 30rem;
  }
  .header h1{
    text-align: center;
  }
  .side-nav {
    height: 100%;
  }
}
